In [30]:
import pandas as pd

In [45]:
df_title = pd.read_excel('PEN America Book Bans 2021-2022.xlsx', sheet_name = 'Sorted by Author & Title')

## df_title

In [101]:
df_district_name = pd.read_excel('PEN America Book Bans 2021-2022.xlsx', sheet_name = 'Sorted by State & District')

In [102]:
df_district_name

,State,District,Origin of Challenge,Date of Challenge/Removal,Type of Ban,Author,Title,Secondary Author(s),Illustrator(s),Translator(s)
0,Alaska,Anchorage School District,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1,Arkansas,Siloam Springs School District,Formal Challenge,2022-01-01,Banned in Libraries and Classrooms,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,NaN,NaN,NaN
2,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Frost and Starlight (A Court of Tho...,NaN,NaN,NaN
3,Florida,Brevard Public Schools,Administrator,2022-03-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Mist and Fury (A Court of Thorns an...,NaN,NaN,NaN
4,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A ​Court of Silver Flames (A Court of Thorns a...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2527,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Dawson, Juno",This Book Is Gay,NaN,NaN,NaN
2528,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Curato, Mike",Flamer,NaN,NaN,NaN
2529,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Higginbotham, Anastasia",Not My Idea: A Book About Whiteness (Ordinary ...,NaN,NaN,NaN
2530,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Harris, Robie H.","It's Perfectly Normal: Changing Bodies, Growin...",NaN,"Emberley, Michael",NaN
2531,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Belge, Kathy",Queer: The Ultimate LGBTQ Guide for Teens,"Bieschke, Marke","Robinson, Christopher",NaN

In [103]:
df_author_title.dtypes

Author                               object
Title                                object
Type of Ban                          object
Secondary Author(s)                  object
Illustrator(s)                       object
Translator(s)                        object
State                                object
District                             object
Date of Challenge/Removal    datetime64[ns]
Origin of Challenge                  object
dtype: object

In [104]:
df_district_name.dtypes

State                                object
District                             object
Origin of Challenge                  object
Date of Challenge/Removal    datetime64[ns]
Type of Ban                          object
Author                               object
Title                                object
Secondary Author(s)                  object
Illustrator(s)                       object
Translator(s)                        object
dtype: object

In [105]:
df_10district = df_district_name.value_counts('District').head(10).reset_index()
df_10district

                                     District  count
0                Central York School District    441
1      North East Independent School District    435
2                        Collierville Schools    327
3                 Duval County Public Schools    176
4         Indian River County School District    161
5        Granbury Independent School District    133
6               Walton County School District     58
7            Katy Independent School District     45
8                      Brevard Public Schools     42
9  Fredericksburg Independent School District     42

In [106]:
df_district_name.shape

(2532, 10)

In [122]:
#Percentage of banned books in top 10 districts- adding new column
df_10district['percentage']  = (df_10district['count']/df_district_name.shape[0] * 100).round(1)
df_10district

                                     District  count  percentage
0                Central York School District    441        17.4
1      North East Independent School District    435        17.2
2                        Collierville Schools    327        12.9
3                 Duval County Public Schools    176         7.0
4         Indian River County School District    161         6.4
5        Granbury Independent School District    133         5.3
6               Walton County School District     58         2.3
7            Katy Independent School District     45         1.8
8                      Brevard Public Schools     42         1.7
9  Fredericksburg Independent School District     42         1.7

In [131]:
file_name = 'Top_10_District_Ban.xlsx'
df_10district.to_excel(file_name, index = False)

In [116]:
df_10state = df_district_name.value_counts('State').head(10).reset_index()
df_10state

          State  count
0         Texas    801
1       Florida    566
2  Pennsylvania    458
3     Tennessee    349
4      Oklahoma     43
5      Michigan     41
6        Kansas     30
7     Wisconsin     29
8      Missouri     27
9         Idaho     26

In [123]:
df_10state['percentage'] = (df_10state['count']/df_district_name.shape[0] *100).round(1)
df_10state

          State  count  percentage
0         Texas    801        31.6
1       Florida    566        22.4
2  Pennsylvania    458        18.1
3     Tennessee    349        13.8
4      Oklahoma     43         1.7
5      Michigan     41         1.6
6        Kansas     30         1.2
7     Wisconsin     29         1.1
8      Missouri     27         1.1
9         Idaho     26         1.0

In [133]:
df_10state.to_excel('Top_10_States.xlsx', index = False)

In [141]:
#Sort by District: Central York School District --> Print titles banned - sort by date
df_district_name.groupby(by = 'State').Title.value_counts().sort_values(ascending = False).head(20)

State         Title
Texas         Out of Darkness                                    9
              Gender Queer: A Memoir                             9
Florida       Thirteen Reasons Why                               8
              The Hate U Give                                    8
Texas         Jack of Hearts (and other parts)                   8
Florida       The Bluest Eye                                     7
              Beloved                                            7
              Tricks (Tricks Series)                             7
              Nineteen Minutes                                   7
Texas         Me and Earl and the Dying Girl                     7
              All Boys Aren't Blue                               7
Pennsylvania  Gender Queer: A Memoir                             6
Texas         The Breakaways                                     6
Florida       The Absolutely True Diary of a Part-Time Indian    6
              Melissa (George)                                   6
              The Kite Runner                                    6
              All Boys Aren't Blue                               6
              Drama: A Graphic Novel                             6
              The Truth About Alice: A Novel                     6
Virginia      Gender Queer: A Memoir                             5
Name: count, dtype: int64

In [244]:
#Top 10 banned book overall
top_10_booksdf = df_district_name.Title.value_counts().sort_values(ascending = False).head(10).reset_index()
top_10_booksdf

                                             Title  count
0                           Gender Queer: A Memoir     41
1                             All Boys Aren't Blue     29
2                                  Out of Darkness     24
3                                   The Bluest Eye     22
4                                         Lawn Boy     17
5                                  The Hate U Give     17
6  The Absolutely True Diary of a Part-Time Indian     16
7                   Me and Earl and the Dying Girl     14
8                             Thirteen Reasons Why     12
9                                         l8r, g8r     12

In [245]:
#Top 10 books banned in Texas
texas_ban = df_district_name[df_district_name["State"] == "Texas"].Title.value_counts().sort_values(ascending = False).head(10)
texas_ban

Title
Gender Queer: A Memoir                         9
Out of Darkness                                9
Jack of Hearts (and other parts)               8
Me and Earl and the Dying Girl                 7
All Boys Aren't Blue                           7
The Breakaways                                 6
Beyond Magenta: Transgender Teens Speak Out    5
Lawn Boy                                       5
Flamer                                         5
This One Summer                                4
Name: count, dtype: int64

In [157]:
#Top 10 books banned in Florida
florida_ban = df_district_name[df_district_name["State"] == "Florida"].Title.value_counts().sort_values(ascending = False).head(10)
florida_ban

Title
Thirteen Reasons Why                               8
The Hate U Give                                    8
The Bluest Eye                                     7
Tricks (Tricks Series)                             7
Nineteen Minutes                                   7
Beloved                                            7
The Truth About Alice: A Novel                     6
The Absolutely True Diary of a Part-Time Indian    6
Melissa (George)                                   6
The Kite Runner                                    6
Name: count, dtype: int64

In [158]:
#Top 10 books banned in Tennessee
tennessee_ban = df_district_name[df_district_name["State"] == "Tennessee"].Title.value_counts().sort_values(ascending = False).head(10)
tennessee_ban

Title
The Hate U Give                                          2
Indivisible                                              1
How It All Blew Up                                       1
Here's to Us                                             1
Kate in Waiting                                          1
Leah on the Offbeat (Simonverse Series)                  1
Simon vs. the Homo Sapiens Agenda (Simonverse Series)    1
The Upside of Unrequited (Simonverse Series)             1
What If It's Us (What If It's Us Series)                 1
This Is Kind of an Epic Love Story                       1
Name: count, dtype: int64

In [159]:
#Top 10 books banned in Penn
penn_ban = df_district_name[df_district_name["State"] == "Pennsylvania"].Title.value_counts().sort_values(ascending = False).head(10)
penn_ban

Title
Gender Queer: A Memoir                                                                    6
All Boys Aren't Blue                                                                      4
Me and Earl and the Dying Girl                                                            2
A is for Activist                                                                         1
"Multiplication Is for White People": Raising Expectations for Other People's Children    1
25 Women Who Dared to Go                                                                  1
25 Women Who Fought Back                                                                  1
25 Women Who Ruled                                                                        1
25 Women Who Thought of It First                                                          1
47,000 Beads                                                                              1
Name: count, dtype: int64

In [ ]:
#Change name of column name to remove backslash

In [166]:
df_district_name.rename(columns = {"Date of Challenge/Removal": "Removal_Challenge_Date"})

,State,District,Origin of Challenge,Removal_Challenge_Date,Type of Ban,Author,Title,Secondary Author(s),Illustrator(s),Translator(s)
0,Alaska,Anchorage School District,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1,Arkansas,Siloam Springs School District,Formal Challenge,2022-01-01,Banned in Libraries and Classrooms,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,NaN,NaN,NaN
2,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Frost and Starlight (A Court of Tho...,NaN,NaN,NaN
3,Florida,Brevard Public Schools,Administrator,2022-03-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Mist and Fury (A Court of Thorns an...,NaN,NaN,NaN
4,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A ​Court of Silver Flames (A Court of Thorns a...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2527,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Dawson, Juno",This Book Is Gay,NaN,NaN,NaN
2528,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Curato, Mike",Flamer,NaN,NaN,NaN
2529,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Higginbotham, Anastasia",Not My Idea: A Book About Whiteness (Ordinary ...,NaN,NaN,NaN
2530,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Harris, Robie H.","It's Perfectly Normal: Changing Bodies, Growin...",NaN,"Emberley, Michael",NaN
2531,Wisconsin,School District of Waukesha,Administrator,2021-12-01,Banned in Libraries and Classrooms,"Belge, Kathy",Queer: The Ultimate LGBTQ Guide for Teens,"Bieschke, Marke","Robinson, Christopher",NaN

In [175]:
#DO NOT USE- Pulling both Pennsylvania or book ban of Gender Queer rather than 'and'
sample_and = df_district_name[(df_district_name["State"] == "Pennsylvania") | (df_district_name['Title'] == 'Gender Queer: A Memoir')]
sample_and

,State,District,Origin of Challenge,Date of Challenge/Removal,Type of Ban,Author,Title,Secondary Author(s),Illustrator(s),Translator(s)
0,Alaska,Anchorage School District,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
14,Florida,Brevard Public Schools,Administrator,2021-11-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
442,Florida,Orange County Public Schools,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
450,Florida,Osceola County School District,Administrator,2022-04-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
454,Florida,Pinellas County Schools,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2482,Virginia,Harrisonburg City Public Schools,Administrator,2021-11-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
2485,Virginia,Loudoun County Public Schools,Administrator,2021-09-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
2492,Virginia,Virginia Beach City Public Schools,Administrator,2021-10-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
2498,Washington,Central Kitsap School District,Administrator,2021-11-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
2502,Washington,Walla Walla Public Schools,Formal Challenge,2022-02-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN

In [174]:
import numpy as np

In [179]:
#Pennsylvania AND ban of 'Gender Queer: A Memoir' -using 'np.where'
penn_queer_ban = np.where((df_district_name['State'] == 'Pennsylvania') & (df_district_name['Title'] == 'Gender Queer: A Memoir'))
print(penn_queer_ban)
display(df_district_name.loc[penn_queer_ban])

(array([1292, 1295, 1298, 1300, 1302, 1307]),)

,State,District,Origin of Challenge,Date of Challenge/Removal,Type of Ban,Author,Title,Secondary Author(s),Illustrator(s),Translator(s)
1292,Pennsylvania,Downingtown Area School District,Administrator,2021-10-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1295,Pennsylvania,East Stroudsburg Area School District,Administrator,2021-11-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1298,Pennsylvania,Fairview School District,Administrator,2022-06-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1300,Pennsylvania,Kutztown Area School District,Administrator,2021-11-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1302,Pennsylvania,North Penn School District,Administrator,2021-09-01,Banned in Libraries,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1307,Pennsylvania,Wissahickon School District,Administrator,2021-10-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN

In [184]:
#Pennsylvania AND ban of 'Gender Queer: A Memoir' using 'loc', and display of specific columns
df_penn_ban = df_district_name.loc[(df_district_name['State'] == 'Pennsylvania') & (df_district_name['Title'] =='Gender Queer: A Memoir'), ['State', 'Date of Challenge/Removal', 'Author', 'Title']]
df_penn_ban

,State,Date of Challenge/Removal,Author,Title
1292,Pennsylvania,2021-10-01,"Kobabe, Maia",Gender Queer: A Memoir
1295,Pennsylvania,2021-11-01,"Kobabe, Maia",Gender Queer: A Memoir
1298,Pennsylvania,2022-06-01,"Kobabe, Maia",Gender Queer: A Memoir
1300,Pennsylvania,2021-11-01,"Kobabe, Maia",Gender Queer: A Memoir
1302,Pennsylvania,2021-09-01,"Kobabe, Maia",Gender Queer: A Memoir
1307,Pennsylvania,2021-10-01,"Kobabe, Maia",Gender Queer: A Memoir

In [200]:
#Organize data by top 3 state of banned books (Texas, Florida, and Penn) and dates books were banned
#Last data set before using DataWrapper

#Texas Ban only
tx_counties_df = df_district_name.loc[(df_district_name['State'] == 'Texas') &(df_district_name['District'])]
tx_counties_df

,State,District,Origin of Challenge,Date of Challenge/Removal,Type of Ban,Author,Title,Secondary Author(s),Illustrator(s),Translator(s)
1665,Texas,Birdville Independent School District,Formal Challenge,2021-10-01,Banned Pending Investigation,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,NaN,NaN,NaN
1666,Texas,Birdville Independent School District,Formal Challenge,2021-10-01,Banned Pending Investigation,"Bechdel, Alison",Fun Home: A Family Tragicomic,NaN,NaN,NaN
1667,Texas,Birdville Independent School District,Formal Challenge,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
1668,Texas,Birdville Independent School District,Formal Challenge,2021-10-01,Banned Pending Investigation,"Harris, Robie H.","It's Perfectly Normal: Changing Bodies, Growin...",NaN,"Emberley, Michael",NaN
1669,Texas,Birdville Independent School District,Formal Challenge,2021-10-01,Banned Pending Investigation,"Rosen, L. C.",Jack of Hearts (and other parts),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2461,Texas,Spring Branch Independent School District,Administrator,2021-11-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,NaN,NaN,NaN
2462,Texas,Spring Branch Independent School District,Administrator,2021-09-01,Banned in Libraries and Classrooms,"Johnson, Cathy G.",The Breakaways,NaN,NaN,NaN
2463,Texas,Tyler Independent School District,Administrator,2021-11-01,Banned in Libraries and Classrooms,"Johnson, George M.",All Boys Aren't Blue,NaN,NaN,NaN
2464,Texas,Tyler Independent School District,Administrator,2021-11-01,Banned in Libraries and Classrooms,"Evison, Jonathan",Lawn Boy,NaN,NaN,NaN
2465,Texas,Waller Independent School District,Administrator,2021-11-01,Banned Pending Investigation,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,NaN,NaN,NaN

In [202]:
#District count of Texas
df_TX = tx_counties_df.value_counts('District').reset_index()
df_TX

                                          District  count
0           North East Independent School District    435
1             Granbury Independent School District    133
2                 Katy Independent School District     45
3       Fredericksburg Independent School District     42
4                Klein Independent School District     35
5              Prosper Independent School District     23
6    Cypress-Fairbanks Independent School District     16
7            Birdville Independent School District     14
8               Keller Independent School District     11
9              Leander Independent School District     11
10  Lamar Consolidated Independent School District      7
11         Clear Creek Independent School District      7
12              Frisco Independent School District      7
13             Killeen Independent School District      4
14          Richardson Independent School District      2
15       Spring Branch Independent School District      2
16               Tyler Independent School District      2
17         Lake Travis Independent School District      1
18           Canutillo Independent School District      1
19                                   Fort Bend ISD      1
20              Denton Independent School District      1
21              Waller Independent School District      1

In [218]:
df_TX['percentage_in_state'] = (df_TX['count']/df_TX['count'].sum() * 100).round(1)
df_TX['percentate_overall'] = (df_TX['count']/df_district_name.shape[0] * 100).round(1)

In [219]:
df_TX

,District,count,percentage,percentage_in_state,percentate_overall
0,North East Independent School District,435,54.3,54.3,17.2
1,Granbury Independent School District,133,16.6,16.6,5.3
2,Katy Independent School District,45,5.6,5.6,1.8
3,Fredericksburg Independent School District,42,5.2,5.2,1.7
4,Klein Independent School District,35,4.4,4.4,1.4
5,Prosper Independent School District,23,2.9,2.9,0.9
6,Cypress-Fairbanks Independent School District,16,2.0,2.0,0.6
7,Birdville Independent School District,14,1.7,1.7,0.6
8,Keller Independent School District,11,1.4,1.4,0.4
9,Leander Independent School District,11,1.4,1.4,0.4
10,Lamar Consolidated Independent School District,7,0.9,0.9,0.3
11,Clear Creek Independent School District,7,0.9,0.9,0.3
12,Frisco Independent School District,7,0.9,0.9,0.3
13,Killeen Independent School District,4,0.5,0.5,0.2
14,Richardson Independent School District,2,0.2,0.2,0.1
15,Spring Branch Independent School District,2,0.2,0.2,0.1
16,Tyler Independent School District,2,0.2,0.2,0.1
17,Lake Travis Independent School District,1,0.1,0.1,0.0
18,Canutillo Independent School District,1,0.1,0.1,0.0
19,Fort Bend ISD,1,0.1,0.1,0.0
20,Denton Independent School District,1,0.1,0.1,0.0
21,Waller Independent School District,1,0.1,0.1,0.0

In [220]:
df_TX_final = df_TX.head(5)

In [221]:
df_TX_final

,District,count,percentage,percentage_in_state,percentate_overall
0,North East Independent School District,435,54.3,54.3,17.2
1,Granbury Independent School District,133,16.6,16.6,5.3
2,Katy Independent School District,45,5.6,5.6,1.8
3,Fredericksburg Independent School District,42,5.2,5.2,1.7
4,Klein Independent School District,35,4.4,4.4,1.4

In [222]:
df_TX_final.to_excel('TX_ban.xlsx', index = False)

In [223]:
#Florida Ban only
fl_counties_df = df_district_name.loc[(df_district_name['State'] == 'Florida') & (df_district_name['District'])].value_counts('District').reset_index()
fl_counties_df

                               District  count
0           Duval County Public Schools    176
1   Indian River County School District    161
2         Walton County School District     58
3                Brevard Public Schools     42
4                    Lee County Schools     30
5              St. Lucie Public Schools     20
6            Polk County Public Schools     16
7        Jackson County School District     14
8    Santa Rosa County District Schools      9
9      St. Johns County School District      6
10        Broward County Public Schools      5
11       Osceola County School District      5
12             Hernando School District      5
13                      Flagler Schools      4
14         Orange County Public Schools      4
15               Sarasota County School      3
16    Palm Beach County School District      3
17         Clay County District Schools      2
18              Pinellas County Schools      1
19                  Lake County Schools      1
20               Volusia County Schools      1

In [224]:
fl_counties_df['percentage_in_state'] = (fl_counties_df['count']/fl_counties_df['count'].sum() * 100).round(1)
fl_counties_df['percentate_overall'] = (fl_counties_df['count']/df_district_name.shape[0] * 100).round(1)

In [247]:
df_FL_final = fl_counties_df.head(5)
df_FL_final

,District,count,percentage_in_state,percentate_overall
0,Duval County Public Schools,176,31.1,7.0
1,Indian River County School District,161,28.4,6.4
2,Walton County School District,58,10.2,2.3
3,Brevard Public Schools,42,7.4,1.7
4,Lee County Schools,30,5.3,1.2

In [230]:
df_FL_final.to_excel('FL_ban.xlsx', index = False)

In [231]:
#Penn Ban only
PN_counties_df = df_district_name.loc[(df_district_name['State'] == 'Pennsylvania') & (df_district_name['District'])].value_counts('District').reset_index()
PN_counties_df

                                    District  count
0               Central York School District    441
1           Downingtown Area School District      3
2                 North Penn School District      3
3                  Pennridge School District      3
4      East Stroudsburg Area School District      2
5   Eastern Lancaster County School District      1
6         Elizabethtown Area School District      1
7                   Fairview School District      1
8          Franklin Regional School District      1
9              Kutztown Area School District      1
10               Wissahickon School District      1

In [232]:
PN_counties_df['percentage_in_state'] = (PN_counties_df['count']/PN_counties_df['count'].sum() * 100).round(1)
PN_counties_df['percentate_overall'] = (PN_coußnties_df['count']/df_district_name.shape[0] * 100).round(1)
df_PN_final = PN_counties_df.head(5)
df_PN_final

,District,count,percentage_in_state,percentate_overall
0,Central York School District,441,96.3,17.4
1,Downingtown Area School District,3,0.7,0.1
2,North Penn School District,3,0.7,0.1
3,Pennridge School District,3,0.7,0.1
4,East Stroudsburg Area School District,2,0.4,0.1

In [233]:
df_PN_final.to_excel('PN_ban.xlsx', index = False)

In [234]:
#TN Ban only
TN_counties_df = df_district_name.loc[(df_district_name['State'] == 'Tennessee') & (df_district_name['District'])].value_counts('District').reset_index()
TN_counties_df

                        District  count
0           Collierville Schools    327
1        Hamilton County Schools     12
2  Wilson County School District      6
3          Blount County Schools      2
4          McMinn County Schools      1
5      Williamson County Schools      1

In [235]:
TN_counties_df['percentage_in_state'] = (TN_counties_df['count']/TN_counties_df['count'].sum() * 100).round(1)
TN_counties_df['percentate_overall'] = (TN_counties_df['count']/df_district_name.shape[0] * 100).round(1)
df_TN_final = TN_counties_df.head(5)
df_TN_final

,District,count,percentage_in_state,percentate_overall
0,Collierville Schools,327,93.7,12.9
1,Hamilton County Schools,12,3.4,0.5
2,Wilson County School District,6,1.7,0.2
3,Blount County Schools,2,0.6,0.1
4,McMinn County Schools,1,0.3,0.0

In [236]:
df_TN_final.to_excel('TN_ban.xlsx', index = False)

In [240]:
top5_df = df_10district.head(5)
top5_df

                                 District  count  percentage
0            Central York School District    441        17.4
1  North East Independent School District    435        17.2
2                    Collierville Schools    327        12.9
3             Duval County Public Schools    176         7.0
4     Indian River County School District    161         6.4

In [241]:
top5_df.to_excel('top_5_district.xlsx', index= False)

In [246]:
top_10_booksdf.to_excel('top_10_books.xlsx', index = False)